<div class="squad-container">
    <div *ngIf="coachData.length > 0">
        <h1>Coaches</h1>
    </div>
    <div *ngFor="let coach of coachData">
        <h2>{{ coach.role }}</h2>
        <div class="player-cards">
            <mat-card class="player-card">
                <mat-card-content>
                    <div *ngIf="coach.fileName; else noImageTemplate" class="player-images">
                        <img [src]="imagePath + '/' + coach.fileName" alt="{{ coach.first_name }} {{ coach.last_name }}"
                            class="player-image" (contextmenu)="disableRightClick($event)" draggable="false">
                    </div>
                    <ng-template #noImageTemplate>
                        <div class="no-image">
                            <img mat-card-image [src]="imageLogoPath + 'logo.png'" alt='logo' width="220px">
                        </div>
                    </ng-template>
                    <div class="player-name">
                        <h2 class="first-name">{{ coach.firstName }}</h2>
                        <div class="last-name">{{ coach.lastName }}</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div *ngIf="squadData.length > 0">
        <h1>Players</h1>
    </div>
    <div *ngFor="let position of getPositions()">
        <h2>{{ position }}</h2>
        <div class="player-cards">
            <mat-card *ngFor="let player of playersByPosition[position]" class="player-card">
                <mat-card-content>
                    <div *ngIf="player.file_name; else noImageTemplate" class="player-images">
                        <img [src]="imagePath + '/' + player.file_name" alt="{{ player.first_name }} {{ player.last_name }}"
                            class="player-image" (contextmenu)="disableRightClick($event)" draggable="false">
                    </div>
                    <ng-template #noImageTemplate>
                        <div class="no-image">
                            <img mat-card-image [src]="imageLogoPath + 'logo.png'" alt='logo' width="220px">
                        </div>
                    </ng-template>
                    <div class="player-name">
                        <h2 class="first-name">{{ player.first_name }}</h2>
                        <div class="last-name">{{ player.last_name }}</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div *ngIf="squadData.length == 0 && coachData.length == 0" class="no-data-container">
        <div>Coming Soon</div>
    </div>
</div>