<div class="wrapper">
    <div class="container">
        <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Goal</mat-label>
                <input matInput formControlName="teamScore" type="number">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Result</mat-label>
                <mat-select formControlName="teamResult">
                    <mat-option value="Win">Win</mat-option>
                    <mat-option value="Draw">Draw</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="action-container">
                <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="teamForm.invalid">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>