.wrapper
    display: flex
    align-items: center
    justify-content: center
    padding: 0.5rem 0
    .container
        display: flex
        justify-content: center
        align-items: center
        width: 80%
        .title
            margin-right: 1rem
            span
                font-weight: 300
                color: #7A8799
                font-size: 12px
                letter-spacing: 2px
        swiper-container
            width: 95%
            .item
                cursor: pointer
                display: flex
                justify-content: center
                align-items: center
                width: 35px
                height: 35px
                .image
                    &:hover
                        width: 35px
