<div class="wrapper">
    <div class="container">
        <div class="header">
            <button mat-fab extended color="primary" [routerLink]="'/admin/clubs'">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Back
            </button>
            <h1>Club Details</h1>
        </div>
        <div class="body">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" mat-elevation-z4>
                <mat-tab label="Basic Info"> 
                    <div class="tab-container">
                        <app-club-details></app-club-details>
                    </div>
                </mat-tab>
                <mat-tab label="About" *ngIf="clubId"> 
                    <div class="tab-container">
                        <app-overview></app-overview>
                    </div>
                </mat-tab>
                <mat-tab label="Gallery" *ngIf="clubId">
                    <div class="tab-container">
                        <app-gallery></app-gallery>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>  
    </div>
</div>