<div class="wrapper">
    <div class="container">
        <div class="title-wrapper">
            <div class="title-container">
                <div class="title">
                    MATCHES 
                </div>
            </div>
        </div>
        <div class="body" *ngFor="let date of fixtures">
            <div class="match-date-container">
                {{ date.match_date | date: 'EEEE | MMM d, y' | uppercase }}
            </div>
            <div class="match-wrapper" *ngFor="let match of date.matches">
                <div class="competition-container">
                    <div class="competition-title">
                        {{ match.league?.title || match.cup?.title || match.exhibition?.title }} | 
                        {{ match.league ? 'League Match' : match.cup ? 'Cup Match' : match.exhibition ? 'Exhibition' : '' }}
                    </div>
                </div>
                <div class="location-container">
                    <div class="location-content">{{ match.location }} {{ '@' }} {{ '2000-01-01T' + match.match_time | date:'h:mm a' }}</div>
                    <div class="status" *ngIf="match.status == 'Live'">
                        <div class="circle"></div>
                        LIVE
                    </div>
                </div>
                <div class="match-container">
                    <div class="team-a">
                        <div class="team-name">
                            {{ match.scores?.[0]?.team?.team || 
                               match.knockoutScores?.[0]?.team?.team || 
                               match.exhibitionScores?.[0]?.team?.team || 
                               'Team A' }}
                        </div>
                        <div class="team-logo">
                            <img *ngIf="match.scores?.[0]?.team?.file_name || 
                                        match.knockoutScores?.[0]?.team?.file_name || 
                                        match.exhibitionScores?.[0]?.team?.file_name" 
                                [src]="imagePath + (match.scores?.[0]?.team?.file_name || 
                                                    match.knockoutScores?.[0]?.team?.file_name || 
                                                    match.exhibitionScores?.[0]?.team?.file_name)" 
                                [alt]="match.scores?.[0]?.team?.team || 
                                        match.knockoutScores?.[0]?.team?.team || 
                                        match.exhibitionScores?.[0]?.team?.team || 
                                        'Team A Logo'" width="40px"/>
                        </div>
                    </div>
                
                    <div class="team-score">
                        {{ match.scores?.[0]?.points || 
                           match.knockoutScores?.[0]?.points || 
                           match.exhibitionScores?.[0]?.points || '0' }} - 
                        {{ match.scores?.[1]?.points || 
                           match.knockoutScores?.[1]?.points || 
                           match.exhibitionScores?.[1]?.points || '0' }}
                    </div>
                
                    <div class="team-b">
                        <div class="team-logo">
                            <img *ngIf="match.scores?.[1]?.team?.file_name || 
                                        match.knockoutScores?.[1]?.team?.file_name || 
                                        match.exhibitionScores?.[1]?.team?.file_name" 
                                [src]="imagePath + (match.scores?.[1]?.team?.file_name || 
                                                    match.knockoutScores?.[1]?.team?.file_name || 
                                                    match.exhibitionScores?.[1]?.team?.file_name)" 
                                [alt]="match.scores?.[1]?.team?.team || 
                                        match.knockoutScores?.[1]?.team?.team || 
                                        match.exhibitionScores?.[1]?.team?.team || 
                                        'Team B Logo'" width="40px"/>
                        </div>
                        <div class="team-name">
                            {{ match.scores?.[1]?.team?.team || 
                               match.knockoutScores?.[1]?.team?.team || 
                               match.exhibitionScores?.[1]?.team?.team || 
                               'Team B' }}
                        </div>
                    </div>
                </div>
                <div class="line"></div>
            </div>
        </div>
        <div class="footer">
            <div class="view-more" [routerLink]="'fixtures'" >
                View More
            </div>
        </div>
    </div>
</div>



<!-- <div *ngFor="let leagues of leagueMatches" class="container">
    <div class="header">
        <div class="title-container">
            <h2>{{ leagues.title }} Matches</h2>
        </div>
        <div *ngIf="leagues.matches.length > 0; else NoLeagueMatches" class="matches">
            <div *ngFor="let date of leagues.matches" class="date-container">
                <p>{{ date.match_date | date:'EEEE dd MMMM, YYYY' }}</p>
                <div *ngFor="let matches of date.matches" class="match-container">
                    <div class="location-container">
                        <div class="location-content">{{ matches.location }} {{ '@' }} {{ '2000-01-01T' + matches.match_time | date:'h:mm a' }}</div>
                        <div class="match-status-content" *ngIf="matches.status == 'Live'">
                            {{ matches.status | uppercase }}
                        </div>
                    </div>
                    <div class="match-content">
                        <div class="team-container">
                            <div class="player-score-container">
                                <div class="team-content">
                                    {{ matches.scores[0].team.team }}
                                </div>
                                <img *ngIf="matches.scores[0].team.file_name" [src]="imagePath + matches.scores[0].team.file_name"
                                    alt={{matches.scores[0].team.file_name}}>
                            </div>
                            <div class="player-score-content" *ngIf="matches.scores[0].playerScores[0]">
                                {{ matches.scores[0].playerScores[0].player.first_name }} 
                                {{ matches.scores[0].playerScores[0].player.last_name }}
                            </div>
                        </div>
                        <div class="score-container">
                            {{ matches.scores[0].points }}
                            :
                            {{ matches.scores[1].points }}
                        </div>
                        <div class="team-container">
                            <div class="player-score-container">
                                <img *ngIf="matches.scores[1].team.file_name" [src]="imagePath + matches.scores[1].team.file_name"
                                    alt={{matches.scores[1].team.file_name}}>
                                <div class="team-content">
                                    {{ matches.scores[1].team.team }}
                                </div>
                            </div>
                            <div class="player-score-content" *ngIf="matches.scores[1].playerScores[0]">
                                {{ matches.scores[1].playerScores[0].player.first_name }}
                                {{ matches.scores[1].playerScores[0].player.last_name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="matches" [routerLink]="'fixtures'" >
                    <span>View More</span>
                    <mat-icon>arrow_right_alt</mat-icon>
                </div>
            </div>
        </div>
        <ng-template #NoLeagueMatches>
            <div class="error-container">
                <div class="error-content">
                    <h2>No Match Posted Yet</h2>
                </div>
            </div>
        </ng-template>
    </div>
</div>

 -->
