.wrapper
    .container
        .title-wrapper
            background: linear-gradient(to right, #170BB0, #6C13E0, #FE0103)
            padding: 10px
            border-radius: 5px 5px 0 0
            .title-container
                text-align: center
                .title
                    font-size: 20px
                    font-weight: 500
                    color: #FFFFFF
        .body
            margin-top: 10px
            .match-date-container
                text-align: center
                font-size: 14px
                font-weight: 500
            .match-wrapper
                display: flex
                flex-direction: column
                margin-top: 10px
                .competition-container
                    display: flex
                    justify-content: center
                    .competition-title
                        background: linear-gradient(to right, #170BB0, #6C13E0, #FE0103)
                        padding: 5px 10px
                        color: #FFFFFF
                        font-size: 12px
                        font-weight: 500
                        border-radius: 10px 10px 0 0
                .location-container
                    padding: 0 5px
                    display: flex
                    justify-content: center
                    gap: 10px
                    flex-wrap: wrap
                    font-size: 12px
                    .status
                        color: #30F78C
                        display: flex
                        align-items: center
                        gap: 5px
                    
                .match-container
                    display: flex
                    justify-content: center
                    align-items: center
                    padding: 5px
                    .team-score
                        width: 18%
                        text-align: center
                        font-size: 14px
                        font-weight: 500
                        border: 1px solid transparent
                        border-image: linear-gradient(to right, #170BB0, #6C13E0, #FE0103)
                        border-image-slice: 1
                        padding: 2px 0
                        color: #6C13E0
                    .team-a
                        width: 40%
                        display: flex
                        justify-content: flex-end
                        align-items: center
                        gap: 10px
                        .team-logo
                            width: 40px
                            height: 40px
                        .team-name
                            text-align: center
                            font-size: 14px
                            font-weight: 500
                    .team-b
                        width: 40%
                        display: flex
                        justify-content: flex-start
                        align-items: center
                        gap: 10px
                        .team-logo
                            width: 40px
                            height: 40px
                        .team-name
                            text-align: center
                            font-size: 14px
                            font-weight: 500
        .footer
            margin-top: 10px
            background: linear-gradient(to right, #170BB0, #6C13E0, #FE0103)
            padding: 10px
            border-radius: 0 0 5px 5px
            cursor: pointer
            .view-more
                text-align: center
                font-size: 14px
                font-weight: 500
                color: #FFFFFF

.line
    border-bottom: 1px solid transparent
    border-image: linear-gradient(to right, #bcb8eb, #d2c2e7, #ecc6c6)
    border-image-slice: 1
.circle
    width: 8px
    height: 8px
    background-color: #30F78C
    border-radius: 50px
                    

            
    
    
    
    
    
    
    
    
    
    
    
    
