<div class="wrapper">
    <div class="container">
        <div class="header">
            <button mat-fab extended color="primary" [routerLink]="'/admin/cups'">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Back
            </button>
            <span>{{ title }}</span>
        </div>
        <div class="body">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [backgroundColor]="'warn'" mat-elevation-z4>
                <mat-tab label="Teams">
                    <div class="tab-content">
                        <app-cup-team-standing></app-cup-team-standing>
                    </div>
                </mat-tab>
                <mat-tab label="Matches">
                    <div class="tab-content">
                        <app-cup-team-match></app-cup-team-match>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>