<div class="wrapper">
    <div class="container">
        <div class="header">
            <h1>Clubs</h1>
        </div>
        <div class="teams">
            <mat-card class="card" *ngFor="let item of dataSource">
                <mat-card-content class="card-content" [routerLink]="'/clubs/' + item.slug">
                    <img mat-card-image [src]="imagePath + item.fileName" alt={{item.fileName}} width="50px">
                    <div class="card-body">
                        <mat-card-title class="title">{{ item.name }}</mat-card-title>
                        <mat-card-subtitle class="subtitle">{{ item.municipal }}</mat-card-subtitle>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>