<div class="wrapper">
    <div class="container">
        <div class="header">
            <button mat-fab extended color="primary" [routerLink]="'/admin/tiers'">
                <mat-icon>keyboard_arrow_left</mat-icon>
                Back
            </button>
            <h1>Coach Details</h1>
        </div>
        <form [formGroup]="tierForm" (ngSubmit)="onSubmit()">
            <div class="field-container">
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Level</mat-label>
                    <input matInput placeholder="First Name" formControlName="level">
                    <mat-error
                        *ngIf="tierForm.get('level')?.hasError('required') && tierForm.get('level')?.touched">
                        Level is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="field">
                    <mat-label>Top Tier</mat-label>
                    <mat-select formControlName="topTier">
                        <mat-option [value]="1">Yes</mat-option>
                        <mat-option [value]="0">No</mat-option>
                    </mat-select>
                    <mat-error *ngIf="tierForm.get('topTier')?.hasError('required') && tierForm.get('topTier')?.touched">
                        Top tier is required
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit">{{ tierId ? 'Update' : 'Save' }}</button>
        </form>
    </div>
</div>