<div class="wrapper">
    <div class="container">
        <form [formGroup]="clubForm" (ngSubmit)="onSubmit()">
            <div class="logo">
                <img *ngIf="imagePath" [src]="imagePath" alt="Uploaded Image" width="300px">
                <input type="file" (change)="onFileSelected($event)">
            </div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Club Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
                <mat-error *ngIf="clubForm.get('name')?.hasError('required') && clubForm.get('name')?.touched">
                    Club name is required
                </mat-error>
                <mat-error *ngIf="clubForm.get('name')?.hasError('minlength') && clubForm.get('name')?.touched">
                    Club name must be at least 3 characters long
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Slug</mat-label>
                <input matInput placeholder="Slug" formControlName="slug">
                <mat-error *ngIf="clubForm.get('slug')?.hasError('required') && clubForm.get('slug')?.touched">
                    Slug is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Municipal / City</mat-label>
                <input matInput placeholder="Municipal" formControlName="municipal">
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Province</mat-label>
                <input matInput placeholder="Province" formControlName="province">
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <mat-label>ZIP Code</mat-label>
                <input matInput placeholder="ZIP Code" formControlName="zipCode">
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Association</mat-label>
                <mat-select formControlName="associationId">
                    <mat-option *ngFor="let association of associationData" [value]="association.id">
                        {{ association.orgName }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="clubForm.get('associationId')?.hasError('required') && clubForm.get('associationId')?.touched">
                    Association is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Contact</mat-label>
                <input matInput placeholder="Contact" formControlName="contact">
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Website</mat-label>
                <input matInput placeholder="Website" formControlName="website">
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Facebook Page</mat-label>
                <input matInput placeholder="Facebook Page" formControlName="fbPage">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="stat">
                    <mat-option [value]="1">Active</mat-option>
                    <mat-option [value]="0">Inactive</mat-option>
                </mat-select>
                <mat-error *ngIf="clubForm.get('stat')?.hasError('required') && clubForm.get('stat')?.touched">
                    Club status is required
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </form>
    </div>
</div>